.offeringFilter {
  background: $white;
  border-radius: 4px;
  margin-bottom: 1rem;
  padding: 1rem !important;
}

.modal {
  max-height: 75vh;
  overflow-y: auto;
}

.hidden {
  display: none !important;
}

.padding5px {
  padding: 8px;
}

.offeringFilterField {
  margin: 5px 25px !important;
}

.offeringFilterField_modal {
  @media only screen and (max-width: 1200px) {
    margin: 5px 25px !important;
  }
}

.offeringFilterDateField {
  margin: 5px 25px !important;
}

.floatRight {
  display: flex;
  justify-content: flex-end;
}

.applyBtn {
  margin-right: 10px;
  margin-top: 40px;
}

.Filter_row {
  align-items: center;
  margin: 4px 0;
}
