.offeringInstructorFilter {
  background: $white;
  border-radius: 4px;
  margin-bottom: 1rem;
  padding: 1rem;
}

.modal {
  max-height: 75vh;
  overflow-y: auto;
}

.hidden {
  display: none !important;
}

.padding5px {
  padding: 8px;
}

.offeringInstructorFilterField {
  margin: 5px 25px !important;
}

.offeringInstructorFilterFieldModal {
  @media only screen and (max-width: 1200px) {
    margin: 5px 25px !important;
  }
}

.offeringInstructorFilterDateField {
  margin: 5px 25px !important;
}

.floatRight {
  float: right;
}

.applyBtn {
  margin-right: 10px;
  margin-top: 40px;
}

.filterRow {
  align-items: center;
  margin: 4px 0;
}
