.textAlignRight {
  text-align: right;
}

.hidden {
  display: none !important;
}

.marginRight5px {
  margin-right: 5px;
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .padding5px {
    padding: 5px;
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .textAlign {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    text-align: left;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 768px) {
  .textAlign {
    text-align: right;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .padding5px {
    padding: 5px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .padding5px {
    padding: 5px;
  }
}
