.site-layout-content {
  background: #fff;
  min-height: 280px;
  padding: 24px;
}

.textRight {
  text-align: right;
}

.marginRight5px {
  margin-right: 5px;
}

.paddingTop10px {
  padding-top: 10px !important;
}

.margin0px {
  margin: 0 !important;
}

.marginTop10px {
  margin-top: 10px !important;
}

.font15px {
  font-size: 15px;
}

.font20px {
  font-size: 20px;
}

.details {
  padding-bottom: 10px !important;
}

.requestDetails {
  background: $white;
  border-radius: 4px;
  padding: 1rem !important;
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .padding5px {
    padding: 5px;
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .textAlign {
    padding-bottom: .5rem;
    padding-top: .5rem;
    text-align: left;
  }

  .icon {
    font-size: 80px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 768px) {
  .textAlign {
    text-align: right;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .padding5px {
    padding: 5px;
  }

  .icon {
    font-size: 160px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .padding5px {
    padding: 5px;
  }

  .icon {
    font-size: 160px;
  }
}