.site-layout-content {
  background: #fff;
  min-height: 280px;
  padding: 24px;
}

.textAlignRight {
  text-align: right;
}

.floatRight {
  float: right;
}

.hidden {
  display: none !important;
}

.show {
  display: block !important;
}

.marginRight5px {
  margin-right: 5px;
}

.padding5px {
  padding: 8px;
}

.paddingTop10px {
  padding-top: 10px;
}

.fontWeightBold {
  font-weight: bold;
}

.offeringFilter {
  background: $white;
  border-radius: 4px;
  margin-bottom: 1rem;
  padding: 1rem;
}

.offeringDetails {
  background: $white;
  border-radius: 4px;
  padding: 1rem;
}

.offeringCloseImg {
  float: right;
  height: 21px;
  padding: 5px;
  width: 21px;
}

.offeringFilterField {
  margin: 5px 25px !important;
}

.applyBtn {
  margin-right: 10px;
  margin-top: 40px;
}
