.Layout {
  height: 100vh;
}

.Logo {
  height: 64px;
  margin: 0 0 8px -8px;
}

.Content {
  align-items: center;
  background: $primaryThemeDarkColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Footer_note {
  color: $lighter;
  margin-top: 24px;
  text-align: center;
}
