/* The Modal (background) */
.modal {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  display: block; /* Hidden by default */
  height: 100%; /* Full height */
  left: 0;
  overflow: auto; /* Enable scroll if needed */
  position: fixed; /* Stay in place */
  top: 0;
  width: 100%; /* Full width */

  /* Modal Content */
  &_content {
    // border: 1px solid #888;
    left: 0;
    margin: auto;
    position: fixed;
    right: 0;
  }

  &_api_in_progress {
    background-color: $lighter;
    bottom: 0;
    height: 97%;
    opacity: 0.3;
    position: absolute;
    width: 800px;
    &__spinner {
      left: 50%;
      position: absolute;
      top: 50%;
    }
  }

  /* The Close Button */
  &__close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    &:hover,
    &:focus {
      color: #000;
      cursor: pointer;
      text-decoration: none;
    }
  }
}
